$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';



.container {
    width: 100%;
    height: 520px;
    background-color: #990000;
}

.textappend {
    margin: 55px auto;
    width: 80%;
    height: 400px;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFFFCC;
    border-radius: 8px;
    border: 3px solid #330000;
    box-shadow: 0px 0px 200px #000000;
    overflow: scroll;
}


.header {
    margin: 0 auto;
    width: 100%;
    height: 100px;
    background-color: #330000;
}

.header h1 {
    float: left;
    color: #FFFF99;
    font-size: 70px;
    font-family: monospace;
    width: 900px;
    margin-top: 13px;
    margin-left: 25px;
    margin-bottom: auto;
}

.footer {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-color: #330000;

}

.send {
    width: 150px;
    height: 50px;
    float: right;
    margin-top: 25px;
    margin-right: 25px;
    font-size: 20px;
    font-weight: bolder;
}

.login {
    width: 150px;
    height: 50px;
    float: right;
    margin-top: 25px;
    margin-right: 25px;
    font-size: 20px;
    font-weight: bolder;
}

.textbox {
    width: 80%;
    height: 50px;
    float: left;
    margin-top: 25px;
    margin-left: 55px;
    font-size: 20px;
}




